$rwd_sizes: desktop 980px, tablet 740px, small-tablet 600px, wide-mobile 480px, mobile 479px lessthan;
@mixin responds-to($size, $and_below: false) {
	$ri: 1;
	@each $rwd_size in $rwd_sizes {
		$name: nth($rwd_size, 1);
		$width: nth($rwd_size, 2);
		$size_action: false;
		@if length($rwd_size) == 3 {
			$size_action: nth($rwd_size, 3);
		}
		$next_width: false;
		
		@if $ri > 1 {
			@if $ri <= length($rwd_sizes) {
				$next_width: nth(nth($rwd_sizes, $ri - 1), 2);
			}
		}
		
		@if $name == $size {
			@if $and_below == false {
				@if $next_width {
					@if $size_action != lessthan {
						@media only screen and (min-width: $width) and (max-width: $next_width - 1) {
							@content;
						}
					}
					@else {
						@media only screen and (max-width: $next_width) {
							@content;
						}
					}
				}
				@else {
					@if $size_action != lessthan {
						@media only screen and (min-width: $width) {
							@content;
						}
					}
					@else {
						@media only screen and (max-width: $width) {
							@content;
						}
					}
				}
			}
			@else {
				@media only screen and (max-width: $width) {
					@content;
				}
			}
		}
		
		$ri: $ri + 1;
	}
}